.partner-section {
    background: #fff;
    color: #1A1B1E;
}

.partner-section__title {
    padding-top: 35px;
}

.partner-section--color--gray {
    background: #F4F5F5;
    padding-bottom: 116px;
}

.partner-section__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 67px;
    padding-top: 146px;
}

.partners__item {
    margin-left: 46px;
}

.partners__item:nth-child(4n + 1) {
    margin-left: 0px;
}

.partners__link {
    text-decoration: none;
    display: flex;
    width: 229px;
    height: 100px;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
}

.partners__link:hover {
    filter: grayscale(0%);
}

.partners {
    display: flex;
    flex-wrap: wrap;
}